.DS_Store
.Rhistory
.RData
.Rapp.history
*cache
*.html
*.spin.Rmd
*.spin.md
*.zip
*~
~$*
\*R\*
Makefile~
\#\*R\*#
.#*
*.Rdata
## Latex
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.png
*.sh
*.pdf

raw-data/*
temp/*
output/*
